<div>
  <h2>Sign up</h2>
  <div class="imgcontainer">
    <img src="https://www.w3schools.com/howto/img_avatar.png" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="fname"><b>First Name</b></label>
    <input type="text" placeholder="Enter First Name" name="fname" required>

    <label for="lname"><b>last Name</b></label>
    <input type="text" placeholder="Enter Last Name" name="lname" required>

    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Sign up</button>
  </div>
</div>
